@import url("https://fonts.googleapis.com/css2?family=Epilogue:wght@500;700&family=Manrope:wght@600;800&family=Poppins:ital@1&display=swap");

*,
*::after,
*::before {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

body {
	display: flex;
	min-height: 100svh;
	align-items: center;
	justify-content: center;
	font-size: inherit;
	font-family: "Manrope", sans-serif;
}

img,
svg {
	display: block;
	width: auto;
	height: auto;
}

input {
	font: inherit;
}

a {
	text-decoration: none;
}

:root {
	/* primary */
	--Soft-Cyan: hsl(174, 77%, 80%);
	--Strong-Cyan: hsl(174, 86%, 45%);
	--Light-Grayish-Red: hsl(14, 92%, 95%);
	--Light-Red: hsl(15, 100%, 70%);
	--Pale-Blue: hsl(226, 100%, 87%);

	/* neutral */
	--White: hsl (0, 0%, 100%);
	--Very-Pale-Blue: hsl(230, 100%, 99%);
	--Lighter-Grayish-Blue: hsl(224, 65%, 95%);
	--Light-Grayish-Blue: hsl(223, 50%, 87%);
	--Grayish-Blue: hsl(225, 20%, 60%);
	--Dark-Desaturated-Blue: hsl(227, 35%, 25%);
}

.dark {
	color: var(--Dark-Desaturated-Blue);
}

.grey {
	color: var(--Grayish-Blue);
}

.container {
	text-align: center;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
	height: 100%;
	border: 4px solid lime;
}

main {
	margin-inline: 1rem;
	display: grid;
	gap: 4rem;
	transform: translateY(-17%);
}

.background {
	min-height: 400px;
	max-height: 450px;
	width: 100%;
	position: absolute;
	z-index: -1;
	top: 0;
}

.background-pattern {
	z-index: -1;
	position: absolute;
	top: 3.5rem;
	left: 50%;
	transform: translateX(-50%);
}

header {
	display: grid;
	gap: 1rem;
}

header h1 {
	text-align: center;
	font-size: 1.3rem;
}

header p {
	font-size: 15px;
	text-wrap: balance;
	text-align: center;
}

/* --------- main box -------- */

main section {
	/* padding-inline: 1rem; */
	border-radius: 1rem;
	background-color: var(--Very-Pale-Blue);
	box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.1);
}

main section .top {
	display: grid;
	gap: 2.2rem;
	text-align: center;
	padding: 1.9rem 1.5rem;
	padding-top: 3.5rem;
}

main section .bottom {
	text-align: center;
	display: grid;
	gap: 1.8rem;
	padding-block: 1.7rem;
	place-items: center;
}

.pageviews {
	font-size: 0.8rem;
	letter-spacing: 1px;
}

input[type="range"] {
	-webkit-appearance: none;
	width: 100%;
	height: 10px;
	border-radius: 10px;
	background: linear-gradient(90deg, var(--Soft-Cyan) 60%, var(--Lighter-Grayish-Blue) 60%);
}

input::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 40px;
	aspect-ratio: 1 / 1;
	cursor: pointer;
	border-radius: 50%;
	background-position: center;
	background-repeat: no-repeat;
	background-color: var(--Strong-Cyan);
	background-image: url(/images/icon-slider.svg);
	box-shadow: 0px 8px 15px 5px var(--Soft-Cyan);
	transition: 100ms;
}

input::-webkit-slider-thumb:hover {
	box-shadow: 0px 8px 17px 1px hsl(174, 74%, 63%);
}

.plan {
	display: flex;
	font-size: 0.8rem;
	justify-content: center;
	align-items: center;
	gap: 0.5rem;
}

.pricing {
	display: flex;
	gap: 0.4em;
	justify-content: center;
	align-items: center;
}

.pricing span {
	font-weight: 800;
	font-size: 2.2rem;
}

.discounted span {
	background-color: var(--Light-Grayish-Red);
	color: var(--Light-Red);
	padding: 2px 6px;
	border-radius: 1rem;
	font-size: 0.6rem;
}

hr {
	border: none;
	border-bottom: 1px solid rgba(0, 0, 0, 0.04);
}

.row-group {
	display: flex;
	align-items: center;
	gap: 1rem;
}

.switch {
	width: 38px;
	height: 20px;
	display: grid;
	cursor: pointer;
	border-radius: 1.5rem;
	place-items: center;
	padding-inline: 0px;
	background-color: var(--Light-Grayish-Blue);
}

.circle {
	padding-inline: 8px;
	aspect-ratio: 1 / 1;
	border-radius: 50%;
	background-color: var(--Very-Pale-Blue);
	transition: transform 200ms;
	transform: translateX(-50%);
}

.switch.active {
	background-color: var(--Soft-Cyan);
}

.switch.active .circle {
	transform: translateX(50%);
}

.column-group {
	display: grid;
	gap: 0.5rem;
	font-size: 0.8rem;
	width: 100%;
	place-items: center;
}

button {
	cursor: pointer;
	border: none;
	font-size: 0.95;
	letter-spacing: 1px;
	border-radius: 2rem;
	padding: 0.75rem 2.2rem;
	color: var(--Pale-Blue);
	background-color: var(--Dark-Desaturated-Blue);
}

button:hover {
	color: white;
}

@media (min-width: 745px) {
	main {
		width: 620px;
		transform: translateY(-12%);
		gap: 6rem;
	}

	main section .top {
		display: grid;
		gap: 1.5rem;
		padding-inline: 2.8rem;
		grid-template-columns: 1fr 1fr;
		grid-template-rows: 50px 50px 50px;
		place-items: center;
		grid-template-areas: "pageview price" "input input" "discount discount";
	}
	main section .bottom {
		display: grid;
		grid-template-columns: 1fr 1fr;
		/* place-items: center; */
		padding: 2.5rem 2.8rem;
	}

	input {
		grid-area: input;
	}

	header h1 {
		font-size: 2rem;
	}

	header p {
		font-size: 1.05rem;
	}

	.pageviews {
		font-size: 1.1rem;
		letter-spacing: 2.5px;
	}

	.pricing {
		font-size: 1.2rem;
		margin-left: auto;
	}

	.pricing span {
		font-size: 2.5rem;
	}

	.plan {
		grid-area: discount;
		justify-content: end;
		gap: 1rem;
		font-size: 1rem;
		margin-right: 3rem;
		width: 100%;
	}

	.column-group {
		font-size: 1rem;
		width: auto;
		margin-right: auto;
		place-items: start;
		gap: 1rem;
	}

	.discounted span {
		font-size: 0.75rem;
	}

	a {
		display: flex;
		justify-content: end;
		width: 100%;
	}

	button {
		padding: 0.85rem 4em;
	}
}
